/* Контейнер панорамного переглядача — займає всю доступну область (на телефонах) */
.panorama-viewer-container {
  width: 50%;
  height: 50vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000;
}